.element__like {
  width: 20.76px;
  height: 18.13px;
  transition: opacity 0.3s ease;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-position: center;
  outline: none;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
