.popup__text-field {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 525px) {
  .popup__text-field {
    max-width: 238px;
  }
}
